In [1]:
from process_data_utils import clean_artist
import pandas as pd
import nltk

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\J-Dog\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [13]:
# read in lyrics data
lyrics_df = pd.read_csv('lyrics-data.csv')
lyrics_df.rename(columns={'SName': 'song_name', 'Lyric': 'lyrics', 'ALink': 'artist'}, inplace = True)
lyrics_df.drop(columns=['SLink'], inplace=True)
lyrics_df.dropna(inplace=True)
# clean the artist name
lyrics_df['artist'] = lyrics_df['artist'].apply(clean_artist)
print(lyrics_df.shape)
lyrics_df.head(5)

(365294, 4)

,artist,song_name,lyrics,language
0,ivete sangalo,Arerê,"Tudo o que eu quero nessa vida,\nToda vida, é\...",pt
1,ivete sangalo,Se Eu Não Te Amasse Tanto Assim,Meu coração\nSem direção\nVoando só por voar\n...,pt
2,ivete sangalo,Céu da Boca,É de babaixá!\nÉ de balacubaca!\nÉ de babaixá!...,pt
3,ivete sangalo,Quando A Chuva Passar,Quando a chuva passar\n\nPra quê falar\nSe voc...,pt
4,ivete sangalo,Sorte Grande,A minha sorte grande foi você cair do céu\nMin...,pt

In [14]:
# read in artist data
artist_df = pd.read_csv('artists-data.xls')
artist_df.rename(columns={'Artist': 'artist', 'Genres': 'genres'}, inplace = True)
artist_df.drop(columns=['Popularity', 'Link', 'Songs'], inplace = True)
artist_df.dropna(inplace=True)
# clean the artist name
artist_df['artist'] = artist_df['artist'].apply(clean_artist)
print(artist_df.shape)
artist_df.head(5)

(4163, 2)

                artist                  genres
0        ivete sangalo     Pop; Axé; Romântico
1  chiclete com banana                     Axé
2            banda eva  Axé; Romântico; Reggae
3            é o tchan                     Axé
4       claudia leitte     Pop; Axé; Romântico

In [17]:
df = pd.merge(lyrics_df, artist_df, on='artist', how='left')
df.dropna(inplace=True)
# tokenize lyrics
df['lyrics'] = df['lyrics'].apply(lambda lyrics: nltk.word_tokenize(lyrics))
# turn genres into list
df['genres'] = df['genres'].apply(lambda genres: genres.split(';'))
df.reset_index(drop=True, inplace=True)   
print(df.shape)
df.head(5)

(288930, 5)

,artist,song_name,lyrics,language,genres
0,ivete sangalo,Arerê,"[Tudo, o, que, eu, quero, nessa, vida, ,, Toda...",pt,Pop; Axé; Romântico
1,ivete sangalo,Se Eu Não Te Amasse Tanto Assim,"[Meu, coração, Sem, direção, Voando, só, por, ...",pt,Pop; Axé; Romântico
2,ivete sangalo,Céu da Boca,"[É, de, babaixá, !, É, de, balacubaca, !, É, d...",pt,Pop; Axé; Romântico
3,ivete sangalo,Quando A Chuva Passar,"[Quando, a, chuva, passar, Pra, quê, falar, Se...",pt,Pop; Axé; Romântico
4,ivete sangalo,Sorte Grande,"[A, minha, sorte, grande, foi, você, cair, do,...",pt,Pop; Axé; Romântico

In [47]:
# save data as csv
df.to_csv('clean_data.csv')